a{
color: #FF5151;
font-family: 'Ubuntu', sans-serif;
font-size: 18px;
}

img {
width: 1240px;
height: 1754px;
align-items: center;
}

h1{
font-family: 'Ubuntu', sans-serif;
color: black;
font-size: 30px;
text-align: center;
border-radius: 20px 20px 20px 20px;
background-color: #FFB9B9;
border: 2px solid #FF9494;
}

p{
font-family: 'Ubuntu', sans-serif;
font-size: 18px;
color: black;
}

h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #333233;
}
